= render partial: 'layouts/header'
.new-blog__title{ style: " display: flex; justify-content: center; "}
  新規記事の作成
.form-master{ style: "width: 600px;"}
  = form_with model: @post, class: :form, local: true do |form|
    = form.text_field :title, placeholder: :タイトル, class: "form__title form-control"
    = form.text_area :content, placeholder: :ブログ本文, class: "form__text form-control"
    = form.submit '投稿する', class: "form__btn btn btn-primary"